
@model ClinicEntity.Models.Doctor
@{
    ViewData["Title"] = "DoctorRegister2";
}
<form method="post">
    <section class="h-100 bg-dark">
        @*<h3 style="font-family:Algerian; padding-left:250px; color:white;">Doctor registration form</h3>*@
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="~/img/doctor1.jfif"
                                     alt="Sample photo" style="width:550px; height:1500px;"
                                      />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 style="font-size:x-large;color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Doctor registration form</h3>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input asp-for="Name" type="text" id="form3Example1m" class="form-control form-control-lg" placeholder="Enter your Name" required/>
                                                <label class="form-label" for="form3Example1m">Doctor Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input asp-for="Phone" type="text" id="form3Example1n" class="form-control form-control-lg" placeholder="Enter your Phone no"  />
                                                <label class="form-label" for="form3Example1n">Phone No</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input asp-for="Address" type="text" id="form3Example1m1" class="form-control form-control-lg" placeholder="Enter your Address" />
                                                <label class="form-label" for="form3Example1m1">Address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input asp-for="BirthDate" type="date" id="form3Example1n1" class="form-control form-control-lg" placeholder="Enter your Birthdate" required />
                                                <label class="form-label" for="form3Example1n1">Birth Date</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example8">Gender</label>
                                        <select asp-for="Gender" asp-items="@ViewBag.genderlist" style="width:150px;" required></select>

                                    </div>

                                    <div class="form-outline mb-4">
                                        
                                        <label class="form-label" for="form3Example8">Department</label>
                                        <select asp-for="Deptno" asp-items="@ViewBag.Departmentlist" style="width:150px;" required></select>

                                    </div>
                                    <div class="form-outline mb-4">
                                        <input asp-for="Charges_Per_Visit" type="text" id="form3Example8" class="form-control form-control-lg" placeholder="Enter your Charges" required />
                                        <label class="form-label" for="form3Example8">Charges Per Visit</label>

                                    </div>
                                    <div class="form-outline mb-4">
                                        <input asp-for="MonthlySalary" type="text" id="form3Example8" class="form-control form-control-lg" placeholder="Enter your Salary"  />
                                        <label class="form-label" for="form3Example8">Monthly Salary</label>

                                    </div>
                                    
                                    <div class="form-outline mb-4">
                                        <input asp-for="ReputeIndex" type="text" id="form3Example8" class="form-control form-control-lg" placeholder="Enter your Repute index" />
                                        <label class="form-label" for="form3Example8">Repute Index</label>

                                    </div>
                                    <div class="form-outline mb-4">
                                        <input asp-for="Patient_Treated" type="text" id="form3Example8" class="form-control form-control-lg" placeholder="Enter Patients treated" required />
                                        <label class="form-label" for="form3Example8">Patients Treated</label>

                                    </div>
                                    <div class="form-outline mb-4">
                                        <input asp-for="Qualification" type="text" id="form3Example8" class="form-control form-control-lg" placeholder="Enter your Qualification" required />
                                        <label class="form-label" for="form3Example8">Qualificaton</label>

                                    </div>
                                    <div class="form-outline mb-4">
                                        <input asp-for="Specialization" type="text" id="form3Example8" class="form-control form-control-lg" placeholder="Enter your Specialization" />
                                        <label class="form-label" for="form3Example8">Specilization</label>

                                    </div>
                                    <div class="form-outline mb-4">
                                        <input asp-for="Work_Experience" type="text" id="form3Example8" class="form-control form-control-lg" placeholder="Enter your Work experience" />
                                        <label class="form-label" for="form3Example8">Work Experience</label>

                                    </div>
                                    <div class="form-outline mb-4">
                                        <input asp-for="Status" type="text" id="form3Example8" class="form-control form-control-lg" placeholder="Enter your Status" required />
                                        <label class="form-label" for="form3Example8">Status</label>

                                    </div>



                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="button" class="btn btn-light btn-lg">Reset all</button>
                                        <button type="submit" class="btn btn-warning btn-lg ms-2">Register as Doctor</button>
                                        <hr />
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@if (ViewBag.status == "Ok")
{
    <div class="alert alert-success">
        @ViewBag.message
    </div>
}
else if (ViewBag.status == "Error")
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}

