
@model ClinicEntity.Models.Appointment
@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@if(Model.Appointment_Status==1){
    <center><h5 style="font-size:x-large;color:black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Your Request is Approved</h5></center>
    <br/>
    <br/>
    <br />
    <br />
    <center><img height="100" width="100" src="https://w7.pngwing.com/pngs/660/107/png-transparent-bellingham-computer-icons-green-approve-symbol-miscellaneous-blue-angle-thumbnail.png" /></center>
}else if(Model.Appointment_Status==4){
    <h5 style="font-size:x-large;color:black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Your Request is Rejected</h5>
}

