
@model ClinicEntity.Models.Appointment
@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@if(Model.Appointment_Status==1){
    <a asp-area="" asp-controller="Doctor" asp-action="TodayAppointment"><img class="img-fluid" style="height:35px" src="https://img.icons8.com/fluency/512/circled-left.png"></a>
    <center><h2 class="h-100 d-flex align-items-center justify-content-center" style="color:#003399;font-family:'Roboto',sans-serif;padding-top:340px">Your Request is Approved</h2></center>
    <br/>
    <br/>
    <br />
    <br />
    <center><img height="100" width="100" src="https://w7.pngwing.com/pngs/660/107/png-transparent-bellingham-computer-icons-green-approve-symbol-miscellaneous-blue-angle-thumbnail.png" /></center>
}else if(Model.Appointment_Status==4){
    <h2 class="h-100 d-flex align-items-center justify-content-center" style="color:#003399;font-family:'Roboto',sans-serif;padding-top:340px">Your Request is Rejected</h2>
}

