@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:Algerian;">Welcome to Health_Care Centre</h1>
    
</div>
<section style="background-color:aquamarine;">
@*<div class="section saas iconTexture icon-05 dualCol">
    <div class="wrap container-fluid">
        <div class="row center-xs">
            <div class="col-xs-12 col-md-12">
                <div class="row middle-sm around-sm mobileReverse">
                    <div class="col-xs-12 col-sm-6 col-md-5 start-xs textSide mobileMaxWidth">
                        <h3 class="text-justify">
                            Health care is conventionally regarded as an important determinant in promoting the general physical, mental and social well-being of people around the world and can contribute to a significant part of a country's economy, development and industrialisation when efficient.
                        </h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 center-xs takeover-open">
                        <img alt="Elevate your Practice" style="width:500px; height:350px; display:inline-block;" src="https://cdn.halemind.com/assets/static/superdoctor_new-e568c210921133c91358011dee5e701cdc9330e813f60425bde3e1dd8307874b.png" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <div>
    
        <h3 style="float:left; width:800px; height:350px; text-align:justify; padding:20px; padding-left:300px;">
            Health care is conventionally regarded as an important determinant in promoting the general physical, mental and social well-being of people around the world and can contribute to a significant part of a country's economy, development and industrialisation when efficient.
        </h3>
        <img alt="Elevate your Practice" style="width:500px; height:350px;  margin-left:50px; display:inline;" src="https://cdn.halemind.com/assets/static/superdoctor_new-e568c210921133c91358011dee5e701cdc9330e813f60425bde3e1dd8307874b.png" />
       
</div>
<hr/>
<div class="container-fluid" style="margin-left:400px">
    <div class="section saas iconTexture icon-05" id="technology" >
        <div class="wrap container-fluid">
            <div class="row center-xs">
                <div class="col-xs-12 col-md-7">
                        <h2 style="margin-left:200px">Simplify and Scale your Practice</h2>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-xs-4">
                    <img alt="No Downloads" src="https://cdn.halemind.com/assets/static/no_downloads-8dabaa1a129a1a1a86f7e33a2395aa5eb9de9e97fa3b0a97670b0f3c72459404.png" />
                </div>
                <div class="col-xs-4">
                    <img alt="Available on all Devices" src="https://cdn.halemind.com/assets/static/all_devices-26a3a3a678fd14d373d6ffc26a9423b1c0fbb4c2fcd01f40da8599192d62c092.png" />
                </div>
                <div class="col-xs-4">
                    <img alt="No Maintenance" src="https://cdn.halemind.com/assets/static/no_maintenance-19ad53bfc0e4387dead1981655776bb1f542efde81b767140647302d2ebf6daf.png" />
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr/>
    
</section>*@


<!DOCTYPE html>
<html lang="en">
<head>
<title>Health - Free HTML5 Bootstrap 4 Template by uicookies.com</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Free HTML5 Website Template by uicookies.com" />
<meta name="keywords" content="free bootstrap 4, free bootstrap 4 template, free website templates, free html5, free template, free website template, html5, css3, mobile first, responsive" />
<meta name="author" content="uicookies.com" />
@*<style id="" media="all">/* vietnamese */
        @font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBiAJpp_c.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
        @font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBiEJpp_c.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
        @font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jpg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>*@
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="css/icomoon.css">
<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/bootstrap-datepicker.css">
<link rel="stylesheet" href="css/style.css">
<meta name="robots" content="noindex, nofollow">
<script nonce="5adfda81-e021-47b2-a4e0-be6a271628e1">(function(w,d){!function(Z,_,ba,bb){Z.zarazData=Z.zarazData||{};Z.zarazData.executed=[];Z.zaraz={deferred:[],listeners:[]};Z.zaraz.q=[];Z.zaraz._f=function(bc){return function(){var bd=Array.prototype.slice.call(arguments);Z.zaraz.q.push({m:bc,a:bd})}};for(const be of["track","set","debug"])Z.zaraz[be]=Z.zaraz._f(be);Z.zaraz.init=()=>{var bf=_.getElementsByTagName(bb)[0],bg=_.createElement(bb),bh=_.getElementsByTagName("title")[0];bh&&(Z.zarazData.t=_.getElementsByTagName("title")[0].text);Z.zarazData.x=Math.random();Z.zarazData.w=Z.screen.width;Z.zarazData.h=Z.screen.height;Z.zarazData.j=Z.innerHeight;Z.zarazData.e=Z.innerWidth;Z.zarazData.l=Z.location.href;Z.zarazData.r=_.referrer;Z.zarazData.k=Z.screen.colorDepth;Z.zarazData.n=_.characterSet;Z.zarazData.o=(new Date).getTimezoneOffset();Z.zarazData.q=[];for(;Z.zaraz.q.length;){const bl=Z.zaraz.q.shift();Z.zarazData.q.push(bl)}bg.defer=!0;for(const bm of[localStorage,sessionStorage])Object.keys(bm||{}).filter((bo=>bo.startsWith("_zaraz_"))).forEach((bn=>{try{Z.zarazData["z_"+bn.slice(7)]=JSON.parse(bm.getItem(bn))}catch{Z.zarazData["z_"+bn.slice(7)]=bm.getItem(bn)}}));bg.referrerPolicy="origin";bg.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(Z.zarazData)));bf.parentNode.insertBefore(bg,bf)};["complete","interactive"].includes(_.readyState)?zaraz.init():Z.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,0,"script");})(window,document);</script></head>
<body>


<header role="banner" class="probootstrap-header py-5">
<div class="container">
<div class="row">
<div class="col-md-3 mb-4">
                    <a href="index.html" class="mr-auto"><img src="~/img/download.png" width="212" height="48" class="hires" alt="Free Template by uiCookies"></a>
</div>
<div class="col-md-9">
<div class="float-md-right float-none">
<div class="probootstrap-contact-phone d-flex align-items-top mb-3 float-left">
<span class="icon mr-2"><i class="icon-phone"></i></span>
<span class="probootstrap-text"> +91 9632587410 <small class="d-block"><a href="#" class="arrow-link">Appointment <i class="icon-chevron-right"></i></a></small></span>
</div>
</div>
</div>
</div>
</div>
</header>
<section class="mb-5">
<div class="container">
<div class="row">
<div class="col-md-6 mb-5">
<h1 class="display-4">Welcome to Health_Care Centre</h1>
</div>
</div>
</div>
</section>
<section class="probootstrap-features-1">
<div class="container">
<div class="row">
<div class="col-md probootstrap-feature-item" style="background-image: url(images/img_1.jpg);">
<div class="probootstrap-feature-item-text">
<span class="icon"><i class="flaticon-first-aid-kit display-4"></i></span>
<h2>Pediatric <span>Therapy</span></h2>
</div>
</div>
<div class="col-md probootstrap-opening">
<h2 class="text-uppercase mb-3">Opening Hour <span>Health_Care Center</span></h2>
<ul class="list-unstyled probootstrap-schedule">
<li>Mon-Fri <span>9:00AM-9:00PM</span></li>
<li>Sat <span>9:30AM-8:00PM</span></li>
                        <li>Sun <span>9:30AM-8:00PM</span></li>
</ul>
</div>
<div class="col-md probootstrap-feature-item" style="background-image: url(images/img_2.jpg);">
<div class="probootstrap-feature-item-text">
<span class="icon"><i class="flaticon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats display-4"></i></span>
<h2>Psychiatric <span>Therapy</span></h2>
</div>
</div>
</div>
</div>
</section>
<section class="probootstrap-services">
<div class="container">
<div class="row no-gutters">
<div class="col-md-3 probootstrap-aside-stretch-left">
<div class="mb-3">
<h2 class="h6">Departments</h2>
<ul class="list-unstyled probootstrap-light mb-4">
<li><a href="#">Urology</a></li>
<li><a href="#">Pediatrics</a></li>
<li><a href="#">Psychiatrics</a></li>
<li><a href="#">Plastic Surgery</a></li>
<li><a href="#">Neurosurgery</a></li>
</ul>
<p><a href="#" class="arrow-link text-white">More departments <i class="icon-chevron-right"></i></a></p>
</div>
</div>
<div class="col-md-9 pl-md-5 pl-0">
<div class="row mb-5">
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-4 text-left probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-price-tag display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Medical Pricing</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-4 text-left probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-shield-with-cross display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Quality &amp; Safety</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-4 text-left probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-first-aid-kit display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Immidiate Service</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-4 text-left probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-microscope display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Cutting-Edge Equipment</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-4 text-left probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Personalized Treatment</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-4 text-left probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-doctor display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Experience Physicians</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="probootstrap-section overlay bg-image" style="background-image: url(images/bg_1.jpg)">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h2 class="text-white display-4">Specialists in Family Healthcare</h2>
<p class="text-white mb-5 lead">Far far away, behind the word mountains, far from the countries Vokalia.</p>
<div class="row justify-content-center mb-5">
<div class="col-md-4"><a href="#" class="btn btn-secondary btn-block">Appointment <span class="icon-arrow-right"></span></a></div>
</div>
</div>
</div>
</div>
</section>
<section class="probootstrap-blog-appointment">
<div class="container">
<div class="row no-gutters">
<div class="col-md-6 pr-md-5 pr-0 pt-md-5 pt-0 pb-md-5 pb-0">
<h2 class="h1 mb-4 text-white">Recent Blog</h2>
<ul class="probootstrap-blog-list list-unstyled">
<li>
<h2><span class="date">November 15, 2017</span><a href="#">The practice of medicine is a lot like parenting </a></h2>
</li>
<li>
<h2><span class="date">November 15, 2017</span><a href="#">Physicians: Want to overcome burnout? Start studying business. </a></h2>
</li>
<li>
<h2><span class="date">November 15, 2017</span><a href="#">Want a simple and easy-to-use EMR? Well, you can have it for free. </a></h2>
</li>
</ul>
<p><a href="#" class="arrow-link">View All <i class="icon-chevron-right"></i></a></p>
</div>
<div class="col-md-6 p-md-5 p-3 probootstrap-aside-stretch-right">
<h2 class="h1 text-white">Make an Appointment</h2>
<form action="#" class="probootstrap-form-appointment">
<div class="form-group">
<input type="text" class="form-control" placeholder="Your Name">
</div>
<div class="form-group">
<input type="email" class="form-control" placeholder="Your Email">
</div>
<div class="form-group">
<span class="icon"><i class="icon-calendar"></i></span>
<input type="text" id="probootstrap-date" class="form-control" placeholder="Appointment Date">
</div>
<div class="form-group">
<textarea name="" class="form-control" id="" cols="30" rows="10" placeholder="Write your message"></textarea>
</div>
<div class="form-group">
<input type="submit" value="Submit Form" class="btn btn-secondary">
</div>
</form>
</div>
</div>
</div>
</section>
<section class="probootstrap-section">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-5 text-center probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-price-tag display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Medical Pricing</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-5 text-center probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-shield-with-cross display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Quality &amp; Safety</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-5 text-center probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-microscope display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Cutting-Edge Equipment</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-5 text-center probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-microscope display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Cutting-Edge Equipment</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-5 text-center probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Personalized Treatment</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media d-block mb-5 text-center probootstrap-media">
<div class="probootstrap-icon mb-3"><span class="flaticon-doctor display-4"></span></div>
<div class="media-body">
<h3 class="h5 mt-0 text-secondary">Experience Physicians</h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
</div>
</div>

</div>
</section>
<section class="probootstrap-section bg-light">
<div class="container">
<div class="row mb-5">
<div class="col-md-12 text-center">
<h2 class="h1">Our Doctors</h2>
<p class="lead text-secondary">Far far away, behind the word mountains, far from the countries Vokalia.</p>
<div class="row justify-content-center mb-5">
<div class="col-md-3"><a href="#" class="btn btn-secondary btn-block">Join Us</a></div>
</div>
</div>
</div>
<div class="row no-gutters">
<div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
<img src="images/person_1.jpg" alt="Free Template by uicookies.com" class="img-fluid">
<div class="probootstrap-person-text">
<span class="title">Health_Care Doctor</span>
<span class="name">Dr. Abbey Smith</span>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
<img src="images/person_2.jpg" alt="Free Template by uicookies.com" class="img-fluid">
<div class="probootstrap-person-text">
<span class="title">Health_Care Doctor</span>
<span class="name">Dr. Ben Carpio</span>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
<img src="images/person_3.jpg" alt="Free Template by uicookies.com" class="img-fluid">
<div class="probootstrap-person-text">
<span class="title">Health_Care Doctor</span>
<span class="name">Dr. Louisa Westwood</span>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
<img src="images/person_4.jpg" alt="Free Template by uicookies.com" class="img-fluid">
<div class="probootstrap-person-text">
<span class="title">Cardiac Surgeon</span>
<span class="name">Dr. Mark Sebastian</span>
</div>
</div>
</div>
</div>
</section>
<section class="probootstrap-section" id="section-counter">
<div class="container">
<div class="row">
<div class="col-md probootstrap-animate">
<div class="probootstrap-counter text-center">
<span class="probootstrap-number" data-number="22">0</span>
<span class="probootstrap-label">Founders</span>
</div>
</div>
<div class="col-md probootstrap-animate">
<div class="probootstrap-counter text-center">
<span class="probootstrap-number" data-number="182">0</span>
<span class="probootstrap-label">Number of Staffs</span>
</div>
</div>
<div class="col-md probootstrap-animate">
<div class="probootstrap-counter text-center">
<span class="probootstrap-number" data-number="8921">0</span>
<span class="probootstrap-label">Happy Patients</span>
</div>
</div>
<div class="col-md probootstrap-animate">
<div class="probootstrap-counter text-center">
<span class="probootstrap-number" data-number="252">0</span>
<span class="probootstrap-label">Business Partner</span>
</div>
</div>
</div>
</div>
</section>
<section class="probootstrap-subscribe">
<div class="container">
<div class="row mb-5">
<div class="col-md-12">
<h2 class="h1 text-white">Subscribe Newsletter</h2>
<p class="lead text-white">Far far away, behind the word mountains, far from the countries Vokalia.</p>
</div>
</div>
<form action="#" method="post">
<div class="row">
<div class="col-md-4">
<input type="text" class="form-control" placeholder="Name">
</div>
<div class="col-md-4 mb-md-0 mb-3">
<input type="text" class="form-control" placeholder="Email">
</div>
<div class="col-md-4">
<input type="submit" value="Subscribe" class="btn btn-primary btn-block">
</div>
</div>
</form>
</div>
</section>
<footer class="probootstrap-footer">
<div class="container">
<div class="row mb-5">
<div class="col-md-3">
<h3 class="heading">Latest Blog</h3>
<ul class="list-unstyled probootstrap-footer-recent-post">
<li>
<a href="#"><span class="date">November 15, 2017</span> The practice of medicine is a lot like parenting </a>
</li>
<li>
<a href="#"><span class="date">November 15, 2017</span>Physicians: Want to overcome burnout? Start studying business. </a>
</li>
</ul>
</div>
<div class="col-md-3">
<h3 class="heading">Head Office</h3>
<p class="mb-5">JP Nagar Bnaglore</p>
<h3 class="heading text-white">Open</h3>
<p>
Mon-Fri 9:30-7:00 <br>
Sat 10:30-7:00 <br>
Sun 10:30-7:00
</p>
</div>
<div class="col-md-3">
<h3 class="heading">Quick Links</h3>
<ul class="list-unstyled probootstrap-footer-links">
<li><a href="#">Home</a></li>
<li><a href="#">Department</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div class="col-md-3">
<h3 class="heading">Follow us</h3>
<ul class="probootstrap-footer-social">
<li><a href="#"><span class="icon-twitter"></span></a></li>
<li><a href="#"><span class="icon-facebook"></span></a></li>
<li><a href="#"><span class="icon-linkedin"></span></a></li>
</ul>
</div>
</div>


</footer>

<div id="probootstrap-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#32609e" /></svg></div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/main.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"767cc986fb0e6ebf","token":"1aea4905526a46c1a4fc9bc1d0e89a42","version":"2022.11.2","si":100}' crossorigin="anonymous"></script>
</body>
</html>