@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:Algerian;">Welcome to Health_Care Centre</h1>

</div>
<section>
    <div class="section saas iconTexture icon-05 dualCol">
        <div class="wrap container-fluid">
            <div class="row center-xs">
                <div class="col-xs-12 col-md-12">
                    <div class="row middle-sm around-sm mobileReverse">
                        <div class="col-xs-12 col-sm-6 col-md-5 start-xs textSide mobileMaxWidth">
                            <h3 class="text-justify">
                                Health care is conventionally regarded as an important determinant in promoting the general physical, mental and social well-being of people around the world and can contribute to a significant part of a country's economy, development and industrialisation when efficient.
                            </h3>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 center-xs takeover-open">
                            <img alt="Elevate your Practice" style="width:500px; height:350px; display:inline-block;" src="https://cdn.halemind.com/assets/static/superdoctor_new-e568c210921133c91358011dee5e701cdc9330e813f60425bde3e1dd8307874b.png" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid" style="background-color:aquamarine">
        <div class="section saas iconTexture icon-05" id="technology">
            <div class="wrap container-fluid">
                <div class="row center-xs">
                    <div class="col-xs-12 col-md-7">
                        <h2 style="margin-left:200px">Simplify and Scale your Practice</h2>
                    </div>
                </div>
                <div class="row center-xs">
                    <div class="col-xs-4">
                        <img alt="No Downloads" src="https://cdn.halemind.com/assets/static/no_downloads-8dabaa1a129a1a1a86f7e33a2395aa5eb9de9e97fa3b0a97670b0f3c72459404.png" />
                    </div>
                    <div class="col-xs-4">
                        <img alt="Available on all Devices" src="https://cdn.halemind.com/assets/static/all_devices-26a3a3a678fd14d373d6ffc26a9423b1c0fbb4c2fcd01f40da8599192d62c092.png" />
                    </div>
                    <div class="col-xs-4">
                        <img alt="No Maintenance" src="https://cdn.halemind.com/assets/static/no_maintenance-19ad53bfc0e4387dead1981655776bb1f542efde81b767140647302d2ebf6daf.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

</section>

