@{
    ViewData["Title"] = "Home Page";
}
<html>
<body>
    <!-- Move to up button -->
    <div class="scroll-button">
        <a href="#home"><i class="fas fa-arrow-up"></i></a>
    </div>
   
    <!-- Home Section Start -->

    <section class="home" id="home">
        <div class="home-content">
            <div class="text">
                <div class="text-one">Hello,</div>
                <div class="text-two">Welcome to <span style="color:#003399;font-family:'Copperplate Gothic'">THE CARE</span></div>
                <div class="text-three font-weight-bold" style="color:#003399;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Opening Hour</div>
                <div class="text-four font-weight-bold">Mon-Fri &nbsp; <span style="color:#003399">9:00AM-9:00PM</span></div>
                <div class="text-four font-weight-bold">Sat-Sun &nbsp; <span style="color:#003399">9:30AM-8:00PM</span></div>
            </div>
            <div class="button">
                <a href="tel:7986948504"><button>Contact Us</button></a>
            </div>
        </div>
    </section>


    <!-- About Section Start -->
    <section class="about" id="about">
        <div class="content">
            <div class="title"><span>About</span></div>
            <div class="about-details">
                <div class="left">
                    <img src="https://www.svgrepo.com/show/40150/doctor.svg" alt="">
                </div>
                <div class="right">
                    <div class="topic font-weight-bold" style="color:black;font-family:'Copperplate Gothic';font-size:xx-large">The Care Clinic</div>
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">
                        The Care Clinic Hospitals was established in 2022 by Valtech India, renowned as the architect of modern healthcare in India. As the nation’s first corporate hospital, The Care Clinic Hospitals is acclaimed for pioneering the private healthcare revolution in the country.
                        The Care Clinic Hospitals has emerged as Asia’s foremost integrated healthcare services provider and has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and several retail health models.                        
                    </p>&nbsp;
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">
                        The Group also has Telemedicine facilities across several countries, Health Insurance Services, Global Projects Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital Management and a Research Foundation.
                        The demand for doctors is expected to increase as new medicines allow people to live longer. However, there are several ways to reach out to a doctor without the need to visit a hospital or clinic, all thanks to technology. 
                       
                    </p>&nbsp;
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">
                        The Care Clinic is one of the largest integrated healthcare organizations in the world with owned and managed hospitals, diagnostic clinics, dispensing pharmacies and consultancy services. 
                        In addition, the group’s service offerings include healthcare at the patient’s doorstep, clinical & diagnostic services, 
                        medical business process outsourcing, third party administration services and heath insurance.
                    </p>
                    <div class="button">
                        <a href="https://goo.gl/maps/iGFLsdCUjzijz3Nn7" download="Id"><button>View In Map</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- My Skill Section Start -->
    <!-- Section Tag and Other Div will same where we need to put same CSS -->
    <section class="skills" id="skills">
        <div class="content">
            <div class="title"><span>Why Us ?</span></div>
            <div class="skills-details">
                <div class="text">
                    <div class="topic font-weight-bold" style="color:black;font-family:'Copperplate Gothic';font-size:xx-large">Health, Wellness & Fitness</div>
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">The Care Clinic is a part of the multi-specialty healthcare group Care Clinic Hospitals with the core belief that Expertise is for Everyone. With the launch of The Care Clinic, 
                        the vision of our founder Dr. Atulya Jaiswal of removing mobility barriers from healthcare has become a reality.As a responsible corporate citizen, Care Clinic Hospitals takes the spirit of leadership well beyond business and has embraced the responsibility of keeping India healthy.
                    </p> 
                    &nbsp;
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">
                        The Care Clinic helps you get treated from Care Clinic certified doctors at any time of the day, wherever you are. The mobile app has features like E- consultation, online pharmacy, home diagnostic test and digital 
                        vault where you can upload all your medical history. Recognizing that Non Communicable Diseases (NCDs) are the greatest threat to the nation, Care Clinic Hospitals is continuously educating people about preventive healthcare as the key to wellness.
                    </p>
                    &nbsp;
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">
                        The Care Clinic Hospitals has championed numerous social initiatives – to cite a few which assist underprivileged children – SACHi which screens and provides paediatric cardiac care for congenital heart diseases, SAHI (Society to Aid the Hearing Impaired) and the CURE Foundation focused on cancer care.
                        
                       
                </div>
                <div class="boxes">
                    <div class="box">
                        <div class="topic font-weight-bold" style="font-family:'Copperplate Gothic';font-size:x-large">Most Trusted Brand</div>
                        <div class="per" style="font-size:25px">100%</div>
                    </div>

                    <div class="box">
                        <div class="topic font-weight-bold" style="font-family:'Copperplate Gothic';font-size:x-large">Employees</div>
                        <div class="per" style="font-size:25px">5500</div>
                    </div>
                    <div class="box">
                        <div class="topic font-weight-bold" style="font-family:'Copperplate Gothic';font-size:x-large">The Newsweek Ranking</div>
                        <div class="per" style="font-size:25px">119th Rank</div>
                    </div>
                    <div class="box">
                        <div class="topic font-weight-bold" style="font-family:'Copperplate Gothic';font-size:x-large">Rating</div>
                        <div class="per" style="font-size:25px">4.8 / 5</div>
                    </div>
                    <div class="box">
                        <div class="topic font-weight-bold" style="font-family:'Copperplate Gothic';font-size:x-large">Branch</div>
                        <div class="per" style="font-size:25px">Chennai,<br /> Bengaluru,<br />  Mumbai,<br />Hyderabad</div>
                    </div>
                    <div class="box">
                        <div class="topic font-weight-bold" style="font-family:'Copperplate Gothic';font-size:x-large">HMA Awards</div>
                        <div class="per" style="font-size:25px">Best in Financial Improvement – GOLD Award Winner</div>
                    </div>
                    <div class="box">
                        <div class="topic font-weight-bold" style="font-family:'Copperplate Gothic';font-size:x-large">Head Quarter</div>
                        <div class="per" style="font-size:25px">+91 8084842455</div>
                    </div>
                    <div class="box">
                        <div class="topic font-weight-bold" style="font-family:'Copperplate Gothic';font-size:x-large">Location</div>
                        <div class="per" style="font-size:25px">JP Nagar, Bengaluru</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- My Services Section Start -->
    <section class="services" id="services">
        <div class="content">
            <div class="title"><span>Departments</span></div>
            <div class="boxes">
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://www.svgrepo.com/show/214342/organic-nutrition.svg" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index"><div class="topic" style="font-family:'Copperplate Gothic';font-size:x-large">Department of Nutrition And Dietetics</div></a>
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">The science of Dietetics and Nutrition deals with the adequacy of diets during normal life cycle and modifications as required during diseased conditions. </p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://cdn-icons-png.flaticon.com/128/3097/3097828.png" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index"><div class="topic" style="font-family:'Copperplate Gothic'">Department of Psychiatry</div></a>
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:18px">Mental health problems and behavioural issues has gained more prominence over the last few decades due to disruption in work-life balance, increase in perceived stress and changes in family structure/outlook of relationships.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://cdn-icons-png.flaticon.com/128/2416/2416896.png" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index"><div class="topic" style="font-family:'Copperplate Gothic'">Department of Cardiology</div></a>
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:18px">Cardio - Our specialist diagnoses and manages full range of heart conditions, and we are well equipped facilities and complete range of services from cardiac investigations. Dealing with issues such as Coronary artery disease, heart failure and hypertension, arrhythmias and valve & heart diseases.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://cdn-icons-png.flaticon.com/512/2284/2284131.png" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index"><div class="topic" style="font-family:'Copperplate Gothic'">Department of E.N.T</div></a>
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:18px">ENT – This department deals with problems of ear, nose and throat. At Apollo the ENT specialists diagnose and treat ear related problems ranging from the commonest to the most complex.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://cdn-icons-png.flaticon.com/128/2968/2968946.png" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index"><div class="topic" style="font-family:'Copperplate Gothic'">Department of General Medicine</div></a>
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:18px">The Department of General internal Medicine at Apollo Hospital Muscat offers comprehensive diagnostic services and general medical care to adult patients. Disease diagnosis, management and prevention are the main priorities of the department.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://cdn-icons-png.flaticon.com/128/3974/3974920.png" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index"><div class="topic" style="font-family:'Copperplate Gothic'">Department of Neurology</div></a>
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:18px">Neuro - Apollo Hospital Muscat, department of Neurology consists of a team of highly competent neurosurgeon. Our Neurosurgery department is well-equipped with state-of-the art technology and equipment providing world class affordable patient care within the reach of every citizen. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Me section Start -->
    <section class="contact" id="contact">
        <div class="content">
            <div class="title"><span>Contact Us</span></div>
            <div class="text">
                <div class="topic">Any Query?</div>
                <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">Address : 30/A, 1st Main Rd, Industrial Suburb, 3rd Phase, J. P. Nagar, Bengaluru, Karnataka 560078
                <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">Phone : <a href="#">+91 7986948504</a></p>
                <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">Email : <a href="#">cliniccare@gmail.com</a></p>
                <div class="button">
                    <a href="https://wa.me/917986948504"><button>Let's Chat</button></a>
                </div>
            </div>
        </div>
    </section>
    <script src="script.js"></script>
</body>
</html>
