@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:Algerian;">Welcome to Health_Care Centre</h1>
    
</div>
<section style="background-color:aquamarine;">
@*<div class="section saas iconTexture icon-05 dualCol">
    <div class="wrap container-fluid">
        <div class="row center-xs">
            <div class="col-xs-12 col-md-12">
                <div class="row middle-sm around-sm mobileReverse">
                    <div class="col-xs-12 col-sm-6 col-md-5 start-xs textSide mobileMaxWidth">
                        <h3 class="text-justify">
                            Health care is conventionally regarded as an important determinant in promoting the general physical, mental and social well-being of people around the world and can contribute to a significant part of a country's economy, development and industrialisation when efficient.
                        </h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 center-xs takeover-open">
                        <img alt="Elevate your Practice" style="width:500px; height:350px; display:inline-block;" src="https://cdn.halemind.com/assets/static/superdoctor_new-e568c210921133c91358011dee5e701cdc9330e813f60425bde3e1dd8307874b.png" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
 <div>
    
        <h3 style="float:left; width:800px; height:350px; text-align:justify; padding:20px; padding-left:300px;">
            Health care is conventionally regarded as an important determinant in promoting the general physical, mental and social well-being of people around the world and can contribute to a significant part of a country's economy, development and industrialisation when efficient.
        </h3>
        <img alt="Elevate your Practice" style="width:500px; height:350px;  margin-left:50px; display:inline;" src="https://cdn.halemind.com/assets/static/superdoctor_new-e568c210921133c91358011dee5e701cdc9330e813f60425bde3e1dd8307874b.png" />
       
</div>
<hr/>
<div style="margin-left:400px">
    <div class="section saas iconTexture icon-05" id="technology" >
        <div class="wrap container-fluid">
            <div class="row center-xs">
                <div class="col-xs-12 col-md-7">
                        <h2 style="margin-left:200px">Simplify and Scale your Practice</h2>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-xs-4">
                    <img alt="No Downloads" src="https://cdn.halemind.com/assets/static/no_downloads-8dabaa1a129a1a1a86f7e33a2395aa5eb9de9e97fa3b0a97670b0f3c72459404.png" />
                </div>
                <div class="col-xs-4">
                    <img alt="Available on all Devices" src="https://cdn.halemind.com/assets/static/all_devices-26a3a3a678fd14d373d6ffc26a9423b1c0fbb4c2fcd01f40da8599192d62c092.png" />
                </div>
                <div class="col-xs-4">
                    <img alt="No Maintenance" src="https://cdn.halemind.com/assets/static/no_maintenance-19ad53bfc0e4387dead1981655776bb1f542efde81b767140647302d2ebf6daf.png" />
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr/>
    <div class="section tealBG keyFeatures col-md-12" id="features">
        <div class="wrap container-fluid">
            <div class="row center-xs">
                <div class="col-xs-10 col-sm-8 col-md-6">
                    <h2>Key Features</h2>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-calendar-alt blue fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Appointments Scheduling</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-notes-medical teal fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Visual Case Sheets</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-users orange fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Patient Registration</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-user-tag yellow fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Unique Patient ID's</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-user-plus red fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Out-patient Management</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-bed teal fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>In-patient Management</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-wheelchair blue fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>OT Management</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-warehouse teal fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Ward Management</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-file-invoice orange fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Automated Billing</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-microscope red fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Laboratory Management</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-medkit blue fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Pharmacy Management</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-users blue fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Patient Portal</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-envelope-square orange fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Reminders and Alerts</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-money-check yellow fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Revenue Management</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-chart-line teal fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Smart Analytics</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-user-nurse blue fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Staff Management</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-diagnoses red fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Speciality EMR's</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-globe blue fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10 start-xs">
                            <h3>Free Website</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>