
@{
    ViewData["Title"] = "ApproveOrReject";
}
@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}

<h2 class="h-100 d-flex align-items-center justify-content-center" style="color:#003399;font-family:'Roboto',sans-serif;padding-top:340px">
    You Rejected The Appointment
</h2>

