
@{
    ViewData["Title"] = "Create";
}

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}

@model ClinicEntity.Models.Pending_Feedback
<!--Modal Launch Button-->

<div>
    <h3 class="text-center" style="font-size:x-large;color:black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Feedback Request</h3>

</div>
<br />

<center>
<form method="post" style="width:800px; height:500px; background-color:gradient; padding-top:20px;">
<!--Division for Modal-->
<div>
            <!-- Modal Body-->
            <div class="modal-body text-center">
                <i class="far fa-file-alt fa-4x mb-3 animated rotateIn icon1"></i>
                <h3 style="font-size:x-large;color:black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Your opinion matters</h3>
                <h5> <strong>Give us your feedback.</strong></h5>
                <br />
                <h4>Your Rating </h4>
                <span style="display: inline-block; font-size: 24px; color: #ff0000;">❤️</span>
                
                <span style="display: inline-block; font-size: 24px; color: #ffea00;">😄</span>
                <span style="display: inline-block; font-size: 24px; color: #fbff00;">👍</span>
                <span style="display: inline-block; font-size: 24px; color: #fae500; ">😢</span>
                <span style="display: inline-block; font-size: 24px; color: #ff0000;">😡</span>
            </div>
                <div >
                <h5>Ratings &nbsp;<select style="width:150px;" asp-for="Rating" asp-items="ViewBag.Ratinglist" placeholder="Your Message" rows="3"></select></h5>
                
                </div>

            <!--Text Message-->
            <div class="text-center">
                <h6>What could we improve?</h6>
            </div>
            <textarea style="width:200px" type="textarea"asp-for="Comment" placeholder="Your Message" rows="3"></textarea>
             
            <br />

            <!-- Modal Footer-->
            <div style="padding-top:20px;">
                    <button type="submit" class="btn btn-primary">
                    Send
                    <i class="fa fa-paper-plane"></i>
                </button>
                <button class="btn btn-secondary" type="reset" value="Reset">Reset<i class="fa fa-paper-plane"></i></button>
            </div>

        </div>

   
</form>
</center>
@if (ViewBag.status == "Ok")
{
        <div class="alert alert-success">
        @ViewBag.message
        </div>
}
else if (ViewBag.status == "Error")
{
        <div class="alert alert-danger">
        @ViewBag.message
        </div>
}

