
@{
    ViewData["Title"] = "Create";
}

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}
@model ClinicEntity.Models.Pending_Feedback


<body style="background-color:#f0f8ff">
    <div class="container d-flex justify-content-center">
        <div class="card mt-3 pb-1">
            <div class="d-flex flex-row justify-content-center text-black">
                    <h2 class="pt-3">Feedback</h2>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="mt-2 p-4 text-center">
                    <h6 class="mb-0">Your opinion matters.</h6>
                    <small class="px-3">Please let us know about your experience.</small>
                    <div class="d-flex flex-row justify-content-center mt-2">
                        <img src="https://img.icons8.com/emoji/48/000000/angry-face-emoji--v2.png" />
                        <img src="https://img.icons8.com/fluent/48/000000/sad.png" />
                        <img src="https://img.icons8.com/color/48/000000/happy.png" />
                        <img src="https://img.icons8.com/emoji/48/000000/smiling-face.png" />
                        <img src="https://img.icons8.com/color/48/000000/lol.png" />
                    </div>
                    <div class="form-group">
                        <label>Rating</label>
                        <select asp-for="Rating" asp-items="ViewBag.Ratinglist" class="form-control" placeholder="Your Feedback" required></select>
                    </div>
                    
                    <div class="form-group mt-4">
                        <label>What could we improve?</label>
                        <textarea type="text" asp-for="Comment" class="form-control" rows="4" placeholder="Message"></textarea>
                    </div>

                    <button type="submit" onclick="submitFeedback()" class="btn btn-primary btn-block"><span>Send Feedback</span></button>
                    <button type="reset" class="btn btn-secondary btn-block"><span>Reset</span></button>
                    
                </div>
            </form>
            <div style="padding-right:15px;padding-left:15px">
                @if (ViewBag.status == "Ok")
                {
                    <div class="alert alert-success">
                        @ViewBag.message
                    </div>
                }
                else if (ViewBag.status == "Error")
                {
                    <div class="alert alert-danger">
                        @ViewBag.message
                    </div>
                }
            </div>

        </div>
    </div>
</body>

