
@{
    ViewData["Title"] = "SelectingDepartment";
}

@model ClinicEntity.Models.Department

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}




<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well-block">
                <div class="well-title">
                    <h2 style="font-size:x-large;color:black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Select a department to book an Appointment</h2>
                </div>
                <form method="post">
                    <!-- Form start -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="form3Example8">Department</label>
                                <select class="form-control" asp-for="DeptNo" asp-items="@ViewBag.Departmentlist" style="width:150px;" required></select>
                            </div>
                        </div>
             

                        <!-- Button -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Search Doctors" class="btn btn-success" />
                                <input type="button" value="Reset" class="btn btn-outline-secondary" />
                            </div>
                        </div>
                    </div>
                    <hr />
                  
                </form>
                <!-- form end -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="well-block">
                <div class="well-title">
                    <h2 style="font-size:x-large;color:black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Why Appointment with Us</h2>
                </div>
                <div class="feature-block">
                    <div class="feature feature-blurb-text">
                        <h4 class="feature-title">24/7 Hours Available</h4>
                        <div class="feature-content">
                            <p>To use the availability.</p>
                        </div>
                    </div>
                    <div class="feature feature-blurb-text">
                        <h4 class="feature-title">Experienced Staff Available</h4>
                        <div class="feature-content">
                            <p>To get better and experinced staff. </p>
                        </div>
                    </div>
                    <div class="feature feature-blurb-text">
                        <h4 class="feature-title">Low Price & Fees</h4>
                        <div class="feature-content">
                            <p>To treat poor people also.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
@if (ViewBag.status == "Ok")
{
    <div class="alert alert-success">
        @ViewBag.message
    </div>
}
else if (ViewBag.status == "Error")
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}







