@model ClinicEntity.Models.Department
@{
    ViewData["Title"] = "DeleteDepartment";
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a asp-area="" asp-controller="Admin" asp-action="GetAllDepartments" type="button" class="btn  text-dark"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/230939/back.svg"></a>
<div style="background-color:#f0f8ff; padding:55px;font-family:'Roboto', sans-serif">
    <form method="post" enctype="multipart/form-data">
        <h3 style="color:#003399;" class="font-weight-bolder text-uppercase" align="center">Delete Department Details</h3>
        
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-size:20px">Department Id</label>
            <input type="text" asp-for="DeptNo" class="form-control" placeholder="Enter Department Id"  required />
        </div>
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        
        <div class="border-dark" style="border:solid,black, 2px">
            @if (ViewBag.status == "Ok")
            {
                <br />

                <br />
                <div class="alert alert-warning">
                    @ViewBag.message
                </div>
            }
            else if (ViewBag.status == "Error")
            {
                <br />

                <br />
                <div class="alert alert-danger">
                    @ViewBag.message
                </div>
            }
        </div>
    </form>
 </div>



