@model ClinicEntity.Models.Department
@{
    ViewData["Title"] = "DepartmentEntry";
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a asp-area="" asp-controller="Admin" asp-action="GetAllDepartments" type="button" class="btn  text-dark"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/230939/back.svg"></a>
<div style="background-color:#f0f8ff;font-family:'Roboto',sans-serif ;padding:55px">
    <form method="post" enctype="multipart/form-data">
        <h2 style="color:#003399" class="font-weight-bolder text-uppercase" align="center">Department Entry</h2>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-size:20px">Department Name</label>
            <input type="text" asp-for="DeptName" class="form-control" placeholder="Enter Department Name" />
        </div>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-size:20px">Description</label>
            <input type="text" asp-for="Description" class="form-control" maxlength="500" placeholder="Describe Department" />
        </div>
        <input type="submit" value="Save" onclick="addFunction()" class="btn btn-outline-success" />
        <input type="reset" value="Reset" class="btn btn-outline-secondary" />

        @if (ViewBag.status == "Ok")
        {
            <br />

            <br />
            <div class="alert alert-success">
                @ViewBag.message
            </div>
        }
        else if (ViewBag.status == "Error")
        {
            <br />

            <br />
            <div class="alert alert-danger">
                @ViewBag.message
            </div>
        }
    </form>
</div>
