@model ClinicEntity.Models.OtherStaff
@{
    ViewData["Title"] = "EditOtherStaff";
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<body class="img-responsive" style=" background-image: url('https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjg3MC1teW50LTIwXzFfMi5qcGc.jpg');">
<div style="padding:60px">
    <form method="post" enctype="multipart/form-data">
        <h2 style="color:#003399;font-family:'Copperplate Gothic'" class="font-weight-bolder text-uppercase" align="center">Edit Staff Details</h2>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px">Staff Id</label>
            <input style="opacity:.8;" type="text" asp-for="StaffID" class="form-control" placeholder="Enter Staff Id" required />
        </div>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px">Staff Name</label>
            <input style="opacity:.8;" type="text" asp-for="Name" class="form-control" placeholder="Enter Staff Name" />
            @Html.ValidationMessageFor(obj=>obj.Name)
        </div>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px">Phone Number</label>
            <input style="opacity:.8;" type="text" asp-for="Phone" class="form-control" placeholder="Enter Phone Number" />
        </div>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px">Address</label>
            <input style="opacity:.8;" type="text" asp-for="Address" class="form-control" placeholder="Enter Address" required />
        </div>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px">Designation</label>
            <input style="opacity:.8;" type="text" asp-for="Designation" class="form-control" placeholder="Enter Designation" required />
        </div>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px">Gender</label>
            <select style="opacity:.8;" asp-for="Gender" asp-items="@ViewBag.genderlist" class="form-control" required></select>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px">Date of Birth</label>
            <input style="opacity:.8;" type="date" asp-for="BirthDate" class="form-control" placeholder="Enter DOB" required />
        </div>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px">Highest Qualification</label>
            <input style="opacity:.8;" type="text" asp-for="Highest_Qualification" class="form-control" placeholder="Enter Highest Qualification" required />
        </div>
        <div class="form-group">
            <label class="font-weight-bold" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px">Salary</label>
            <input style="opacity:.8;" type="number" step=0.01 asp-for="Salary" class="form-control" placeholder="Enter Salary" required />
        </div>
        <input type="submit" value="Save" class="btn btn-outline-success" />
        <input type="reset" value="Reset" class="btn btn-outline-secondary" />
    
        @if (ViewBag.status == "Ok")
        {
                <br />

                <br />
            <div class="alert alert-warning">
                @ViewBag.message
            </div>
        }
        else if (ViewBag.status == "Error")
        {
                <br />

                <br />
            <div class="alert alert-danger">
                @ViewBag.message
            </div>
        }
    </form>
</div>
</body>
